@page
@model CHMR_DMP_PPR_Charlie_Docker.Pages.cmdr.cmdrworkspaceModel
@{
    <div class="container py-4 py-xl-5">
        <div class="row text-center justify-content-center align-items-center">
            <div class="col-auto"><img class="d-inline-flex d-md-flex justify-content-center align-items-center align-content-center align-self-center justify-content-md-center align-items-md-center" src="https://www.defense.gov/portals/1/Page-Assets/branding-guide/logos/png/DoD-Logo-Stacked-1-Color.png" width="300px"></div>
        </div>
        <div class="row mb-5 pb-md-0 mb-md-2">
            <div class="col-md-8 col-xl-6 text-center mx-auto ps-0 pe-0">
                <h2 class="ms-md-0 ps-md-0">Civilian Harm Reports - Commander's Workspace</h2>
                <p class="w-lg-50"></p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4 me-md-0">
                        <div class="row">
                            <div class="col text-center"><img width="100%" src="/initial-review-approvals.jpg"></div>
                        </div>
                        <h4 class="text-center card-title">Initial Review Approvals</h4>
                        <p class="card-text">Open a filterable list of all initial reviews in your purview to monitor initial reviews awaiting your approval.</p>
                        <div class="row">
                            <div class="col text-center"><button class="btn btn-primary btn-lg" type="button">Open Initial Reviews</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col text-center"><img width="100%" src="/assessments-approvals.jpg"></div>
                        </div>
                        <h4 class="text-center card-title">Assessment Approvals</h4>
                        <p class="card-text">Open a filterable list of all assessments in your purview to monitor assessments awaiting your approval.</p>
                        <div class="row">
                            <div class="col text-center"><button class="btn btn-primary btn-lg" type="button">Open Assessments</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col text-center"><img width="100%" src="/crime-report.jpg"></div>
                        </div>
                        <h4 class="text-center card-title">Commander Investigations</h4>
                        <p class="card-text">Open the investigations workspace for new and existing commander directed investigations of civilian harm.</p>
                        <div class="row">
                            <div class="col text-center"><button class="btn btn-primary btn-lg text-center" type="button">Open CH CDI Workspace</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    // <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    // <script id="bs-live-reload" data-sseport="5000" data-lastchange="1733673687581" src="/js/livereload.js"></script>
}
