@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p><strong>This site does not contain classified or controlled information or privacy data.</strong></p>
<p><strong>If you are testing this site and entering data, it is a violation of corresponding</strong></p>
<p><strong>laws to upload information that is classified, NATO classified, CUI, FOUO, PII, PHI,</strong></p>
<p><strong>GDPR, or any other protected or controlled information.</strong></p>
<br>
<p><strong>This site's administration in finding such data will capture and </strong></p>
<p><strong>remove the data and notify the appropriate authorities.</strong></p>
