@page
@model CHMR_DMP_PPR_Charlie_Docker.Pages.initialreviews.initialreviewworkspaceModel
@{
    <div class="container py-4 py-xl-5">
        <div class="row text-center justify-content-center align-items-center">
            <div class="col-auto"><img class="d-inline-flex d-md-flex justify-content-center align-items-center align-content-center align-self-center justify-content-md-center align-items-md-center" src="https://www.defense.gov/portals/1/Page-Assets/branding-guide/logos/png/DoD-Logo-Stacked-1-Color.png" width="300px"></div>
        </div>
        <div class="row mb-5 pb-md-0 mb-md-2">
            <div class="col-md-8 col-xl-6 text-center mx-auto ps-0 pe-0">
                <h2 class="ms-md-0 ps-md-0">Civilian Harm Reports - Initial Review Workspace</h2>
            </div>
        </div>
        <div class="row row-cols-md-2 row-cols-xl-3 justify-content-center">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4 me-md-0">
                        <div class="row">
                            <div class="col text-center"><img width="100%" src="/report-review.jpg"></div>
                        </div>
                        <h4 class="text-center card-title">Initiate Initial Review</h4>
                        <p class="card-text">Initiate and conduct an initial review of a report of suspected civilian harm.</p>
                        <div class="row">
                            <div onclick="window.location.href='/initialreviews/initialreview'" class="col text-center"><button class="btn btn-primary btn-lg" type="button">Conduct an Initial Review</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col text-center"><img width="100%" src="/pile-of-reviews.jpg"></div>
                        </div>
                        <h4 class="text-center card-title">Existing Initial Reviews</h4>
                        <p class="card-text">Show a list of initial reviews available to you and select to perform actions.</p>
                        <div class="row">
                            <div onclick="window.location.href='/initialreviews/existingreviews'" class="col text-center"><button class="btn btn-primary btn-lg" type="button">Existing Initial Reviews</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    // <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    // <script id="bs-live-reload" data-sseport="5000" data-lastchange="1733669386759" src="/js/livereload.js"></script>
}
